user www-data;
worker_processes  {{ worker_processes }};
pid /run/nginx.pid;
error_log  {{ error_log }};
include /etc/nginx/modules-enabled/*.conf;

events {
    worker_connections  {{ worker_connections }};
}

rtmp {
        server {
                listen 1935;
                chunk_size 4096;
                allow publish {{ allow_publish }};
                deny publish {{ deny_publish }};

                application live {
                        live on;
                        record off;
                }
        }
}